@import "~bootstrap/scss/bootstrap";

body{
    position :relative;
}
.body-custom{
    margin-left: 3rem;
    margin-right: 3rem;
}
.navbar-item-custom a{
    color:black;
}

.footer-custom{
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 1rem;
}

.product-container{
    margin-bottom: 3rem;
}

.product-item{
    margin-top: 3rem;
}

.product-item h4{
    text-transform : uppercase;
}

.product-item .product-subtitle{
    display:block;
}

.product-item .product-price{
    font-size: 1rem;
    font-weight: bold;
}