@import "~bootstrap/scss/bootstrap";

body{
    position :relative;
}
.body-custom{
    margin-left: 3rem;
    margin-right: 3rem;
}
.navbar-item-custom a{
    color:black;
}

.footer-custom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}

.product-container{
    margin-bottom: 3rem;
}

.product-item{
    margin-top: 3rem;
}

.product-item h4{
    text-transform : uppercase;
}

.product-item .product-subtitle{
    display:block;
}

.product-item .product-price{
    font-size: 1rem;
    font-weight: bold;
}

.cart-icon{
    height: 30px;
    padding-left:20px;
}