{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block body %}
    <h2> Valider ma commande </h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <b> Choisir adresse de livraison
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
{% endblock %}
